# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = zhihuuser.settings

[deploy]
url =http://192.168.254.129:6800/addversion.json
project = zhihuuser
